.app {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  background: linear-gradient(to right, #6a11cb, #2575fc); /* Gradient background */
}

.heading {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.05);
  }
  100% {
      transform: scale(1);
  }
}

.gameboard {
  width: 300px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  border: solid 2px #333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: white;
  border-radius: 10px;
}

.square {
  width: 100px;
  height: 100px;
  border: solid 2px #333;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}

.square:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

@keyframes drawCircle {
  0% {
      transform: scale(0);
  }
  100% {
      transform: scale(1);
  }
}

@keyframes drawCross {
  0% {
      transform: rotate(45deg) scale(0);
  }
  100% {
      transform: rotate(45deg) scale(1);
  }
}

.circle {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  border: solid 15px blue;
  box-sizing: border-box;
  animation: drawCircle 0.5s ease-out;
}

.cross {
  width: 90px;
  height: 90px;
  position: relative;
  transform: rotate(45deg);
  animation: drawCross 0.5s ease-out;
}

.cross:before, .cross:after {
  content: "";
  position: absolute;
  background-color: red;
}

.cross:before {
  left: 50%;
  width: 30%;
  height: 100%;
  margin-left: -15%;
}

.cross:after {
  top: 50%;
  height: 30%;
  width: 100%;
  margin-top: -15%;
}

.play-again-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #28a745;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.play-again-button:hover {
  background-color: #218838;
  transform: scale(1.05);
}

.footer {
  margin-top: 20px;
  color: #c79393;
  font-size: 14px;
  text-align: center;
  animation: slideUp 2s ease-in-out forwards;
  opacity: 0; /* Start hidden and fade in */
}

@keyframes slideUp {
  0% {
      transform: translateY(20px);
      opacity: 0;
  }
  100% {
      transform: translateY(0);
      opacity: 1;
  }
}